$primary-color: #f6d261;
$primary-font-color: #ffffff;
$primary-bg: white;
$primary-blue: #3195ff;
$secondary-blue: #143f7d;
$tertiary-blue: #2a4365;
$white: #ffffff;
$black: #000000;
$font: "Poppins", sans-serif;
