@import "../../styles/variables";
@import "../../styles/mixins";

.skills {
  background-color: $secondary-blue;
  color: $white;
  @include header;

  &__container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (min-width: 820px) {
      justify-content: space-between;
    }
  }

  //////////////////////

  &__list {
    font-size: 0.9rem;
    &-header {
      padding: 20px 10px;
      background-color: $tertiary-blue;
      border-radius: 15px 15px 0 0;
      text-transform: uppercase;

      & h4 {
        font-weight: 400;
        font-size: 0.9rem;
      }
    }

    &-container {
      height: fit-content;
      width: 98%;
      margin-bottom: 2rem;
      @media only screen and (min-width: 820px) {
        width: 31%;
      }
    }

    &-item {
      padding: 8px;
      margin: 8px 0;
      background: rgba(255, 255, 255, 0.1);
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.06);
        background-color: $secondary-blue;
      }
      &-container {
        display: flex;
      }

      &-image {
        width: 26px;
        height: 26px;
        object-fit: contain;
        margin-right: 10px;
      }

      &-content {
        display: flex;
        align-items: center;
      }

      &:last-of-type {
        margin-bottom: 15px;
      }
    }
  }
}
