.contact {
  background: url("/assets/images/bg-light.png");

  color: white;
  padding: 40px 0;
  height: 100vh;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
