@import "../../styles/_variables";

.navbar {
  background-color: #000;
  height: 70px;
  width: 100%;
  padding: 5px 10px;
  position: fixed;
  z-index: 10;
  opacity: 0.8;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    height: 100%;

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &-container {
      width: 250px;
      height: 100%;
    }

    & li a:hover {
      color: $primary-blue;
    }
  }

  .hamburger {
    position: relative;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &__line {
      width: $bar-width;
      height: $bar-height;
      background-color: #fff;
      display: block;
      margin: $bar-spacing auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .is-active &__line {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        -webkit-transform: translateY($transY) rotate(45deg);
        -ms-transform: translateY($transY) rotate(45deg);
        -o-transform: translateY($transY) rotate(45deg);
        transform: translateY($transY) rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: translateY(-$transY) rotate(-45deg);
        -ms-transform: translateY(-$transY) rotate(-45deg);
        -o-transform: translateY(-$transY) rotate(-45deg);
        transform: translateY(-$transY) rotate(-45deg);
      }
    }
  }
}
