.work {
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 0 2.5rem;

  &__container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  &__card {
    cursor: pointer;
    background-color: #292929;
    flex-shrink: 0;
    width: 900px;
    scroll-snap-align: start;
    padding: 40px;
    transition: opacity 200ms;
    opacity: 0.4;
    margin-left: 2.5rem;
    &:hover {
      opacity: 1;
    }
  }
}
